body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 96vh;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background: linear-gradient(120deg, #4a5b75, #775017 );
    color: antiquewhite;
}

h3{
   text-align: center;
}

button{
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ede0d4;
    color: black;
}

#teamInput{
    margin-left: 200px;
    width: 400px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}
.myTextArea{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#tableDiv{
    margin: 25px  auto;
    max-width: 600px;
    background: wheat;
    color:#57657a ;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}

#table{
    margin: 0 auto;
}


#buttonDiv{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 80px;
    display: flex;
    align-items: center;
}
#deleteBtn{
    background-color: #540804;
    color: white;
    padding: 5px;
    width: 100px;

}
